body {
  background: #141E30;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 25px;
}

p {
  max-width: 400px;
  padding-left: 25px;
}

@media (min-width:700px) and (max-width:899px) {body {
  background: #141E30;
  color: #fff;
  padding: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large
}
p {
  max-width:500px;
}}

@media (min-width:900px) {body {
  background: #141E30;
  color: #fff;
  padding: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}
p {
  max-width: 600px;
}} 

@media (min-width:1200px) {body {
  background: #141E30;
  color: #fff;
  padding: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
}
p {
  max-width: 750px;
}} 

a {
  color:dodgerblue
}
a:hover {
  color:blue;
}

.title {
  width: 200px;
  padding-bottom: 15px;
  border-bottom: 5px solid #0277bd;
}
